:root.dark {
  --background-color: #1d1d26;
  --main-color: #2D3037;
  --main-color-icons: #555963;
  --main-color-hover: #F5F5F5;
  --accent-color: #7D5BA6;
  --off-background-color: #323241;
  --off-background-text: #F5F5F5;

  --button-color: #4761AC;
  --button-color-danager: #DA2C43;

  --overlay-color: #000000;
}