// Import base styles
@import "./base/reset";
@import "./base/base";
@import "./base/typography";

// Import themes
@import "themes/light";
@import "themes/dark";

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

header {
  background-color: var(--header-background);
}

.View {
  margin-left: 100px;
  margin-top: 75px;
}